.main
  .info
    .info__name
      =@group.name
      .info__member 
        Member :
        - @group.users.each do |user|
          = user.name
    .edit 
      = link_to 'Edit' ,edit_group_path(@group),class:'button'
  .chatfield
    = render @messages
  .footer
    = form_with model: [@group, @message], html: {class: "form"}, local: true do |f|
      .form__contents
        = f.text_field :content, class: 'form__contents--text', placeholder: 'type a message'
        = f.label :image, class: 'form__contents--image' do
          = icon('far', 'image', class: 'form__icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'btn'